/* @font-face {
  font-family: SFRegular;
  src: url(../public/SF-Pro-Text-Regular.otf);
}

@font-face {
  font-family: SFlight;
  src: url(../public/SF-Pro-Text-Light.otf);
}

@font-face {
  font-family: SFMedium;
  src: url(../public/SF-Pro-Display-Medium.ttf);
}

@font-face {
  font-family: SFBlack;
  src: url(../public/SF-Pro-Display-Black.ttf);
}

@font-face {
  font-family: SFSemibold;
  src: url(../public/SF-Pro-Text-SemiboldItalic.ttf);
} */
