@font-face {
  font-family: "regular";
  src: local("regular"),
    url("../public/SF-Pro-Text-Regular.otf") format("truetype");
}

@font-face {
  font-family: "SFlight";
  src: local("SFlight"),
    url("../public/SF-Pro-Text-Light.otf") format("truetype");
}

@font-face {
  font-family: "SFMedium";
  src: local("SFMedium"),
    url("../public/SF-Pro-Display-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "SFBlack";
  src: local("SFBlack"),
    url("../public/SF-Pro-Display-Black.ttf") format("truetype");
}
