@font-face {
  font-family: "regular";
  src: local("regular"),
    url("../public/SF-Pro-Text-Regular.otf") format("truetype");
}

@font-face {
  font-family: "SFlight";
  src: local("SFlight"),
    url("../public/SF-Pro-Text-Light.otf") format("truetype");
}

@font-face {
  font-family: "SFMedium";
  src: local("SFMedium"),
    url("../public/SF-Pro-Display-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "SFBlack";
  src: local("SFBlack"),
    url("../public/SF-Pro-Display-Black.ttf") format("truetype");
}

.body__contain {
  min-height: 100%;
  background: linear-gradient(blue 0 0) calc(1 * 100% / 5),
    linear-gradient(blue 0 0) calc(2 * 100% / 5),
    linear-gradient(blue 0 0) calc(3 * 100% / 5),
    linear-gradient(blue 0 0) calc(4 * 100% / 5),
    linear-gradient(blue 0 0) calc(5 * 100% / 5);
  background-size: 0.08px 100%; /* Control the width here*/
  background-repeat: no-repeat;
}

@media screen and (max-width: 700px) {
  .body__contain {
    background: transparent;
  }
}
